.section-01 {
  width: 100%;
  height: 100vh;
  background: url('~@/assets/images/bg/pc-bg.png') no-repeat;

  @include tablet {
    background: url('~@/assets/images/bg/tab-bg.png') no-repeat;
  }

  @include mobile {
    background: url('~@/assets/images/bg/mo-bg.png') no-repeat;
  }
}

// 공통 ===========================

.top-title {
  margin-bottom: 10px;
  font-size: rem(55);
  @include tablet {
    margin-bottom: 7px;
    font-size: rem(40);
  }
}

.sub-txt {
  font-size: rem(15);
  line-height: 1.4;
}

.aos-animate .highlight {
  &::before {
    width: 100%;
  }
}

.highlight {
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: auto;
    bottom: 0px;
    left: 0;
    display: block;
    width: 0;
    height: 50%;
    background: rgba(#fd6f00, 0.7);
    transition: all 2s;
    transition-delay: 0.5s;
  }

  &.type-2 {
    &::before {
      background: rgba(#fd6f00, 0.4);
    }
  }
}

// END 공통 ===========================

.intro-sec {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: #000;
  padding: 29vh 48px 40px;
  @include media(1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include tablet {
    padding-top: 30vh;
  }

  .intro-bg {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .intro-txt-grp {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1472px;
    margin: 0 auto;
  }

  .intro-title {
    position: relative;
    z-index: 2;
    font-size: rem(64);
    font-weight: 400;
    line-height: 1.25;
    @include media(1300px) {
      font-size: rem(52);
    }
    @include tablet {
      font-size: rem(42);
    }
    @include mobile {
      font-size: rem(32);
    }

    .highlight {
      font-weight: 600;
    }
  }

  .intro-sub-txt-grp {
    flex-direction: column;
    gap: 14px;
    margin-top: 42px;

    @include mobile {
      gap: 10px;
      margin-top: 30px;
    }

    .intro-sub-txt {
      position: relative;
      padding-left: 22px;
      font-size: rem(30);
      color: #fff;
      //font-family: 'Poppins', sans-serif;
      line-height: 1.38;
      @include tablet {
        font-size: rem(24);
      }

      @include mobile {
        padding-left: 15px;
        font-size: rem(20);
        line-height: 1.4;
      }

      @include media(380px) {
        font-size: rem(18);
      }

      &::before {
        content: '*';
        position: absolute;
        left: 0;
        font-size: rem(30);
        font-weight: 700;
        color: #fff;
        @include mobile {
          font-size: rem(22);
        }
      }
    }
  }

  .intro-cont-grp {
    gap: 8px;
    margin-bottom: 22px;
    @include media(1300px) {
      gap: 5px;
    }
    @include mobile {
      margin-bottom: 24px;
    }
  }

  .intro-bubble-txt {
    display: flex;
    gap: 8px;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    font-size: rem(16);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s;
    cursor: pointer;

    @include media(1300px) {
      height: 34px;
      line-height: 34px;
      padding: 0 14px;
      font-size: rem(14);
    }

    @include mobile {
      height: 28px;
      line-height: 28px;
      padding: 0 12px;
      font-size: rem(12);
    }

    &.type-mb {
      @include mobile {
        margin-bottom: 6px;
      }
    }

    &:hover {
      color: #000;
      background: #fff;
    }
  }
}

.about-sec {
  background: #000;

  .sub-txt {
    font-size: rem(16);
    line-height: 1.46;
    @include tablet {
      font-size: rem(15);
    }
    @include mobile {
      line-height: 1.4;
      font-size: rem(14);
    }

    .highlight {
      font-size: rem(18);
      font-weight: 600;
      @include tablet {
        font-size: rem(16);
      }
    }
  }

  .space {
    display: block;
    height: 10px;
    @include tablet {
      height: 6px;
    }
    @include mobile {
      height: 11px;
    }
  }

  .space-mb {
    @include mobile {
      display: block;
      height: 5px;
    }
  }

  .about-inner-grp {
    position: relative;
    padding: 70px 20px 80px;
    border-radius: 50px 50px 0 0;
    background: #fff;

    @include tablet {
      padding: 55px 20px 40px;
      border-radius: 40px 40px 0 0;
    }
    @include mobile {
      padding: 40px 20px 40px;
      border-radius: 30px 30px 0 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(234, 234, 234, 0) 0%,
        rgba(234, 234, 234, 0.7) 15%,
        #eaeaea 50%,
        rgba(234, 234, 234, 0.7) 85%,
        rgba(234, 234, 234, 0) 100%
      );
    }
  }

  .emoticon-img-grp {
    overflow: hidden;
    position: relative;
    width: 135px;
    height: 135px;
    margin: 0 auto 30px;
    border-radius: 100%;
    background: linear-gradient(135deg, #fd6f00 0%, #ff9a3c 50%, #ffd166 100%);
    @include tablet {
      width: 108px;
      height: 108px;
      margin-bottom: 20px;
    }
    .emoticon-img {
      position: absolute;
      top: 3px;
      left: -7px;
      width: 152px;
      height: 152px;
      @include tablet {
        top: 4px;
        left: -5px;
        width: 120px;
        height: 120px;
      }
    }
  }

  .about-list-grp {
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 1100px;
    margin: 45px auto 0;
    @include media(1200px) {
      gap: 10px 12px;
    }
    @include tablet {
      margin-top: 45px;
    }
    @include mobile {
      flex-wrap: wrap;
    }

    .emoticon-img-grp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    .list-card {
      width: calc((100% - 48px) / 3);
      padding: 50px 20px 30px;
      border-radius: 10px;
      background: #f8f8f8;
      transition: all 0.3s;

      @include media(1200px) {
        width: calc((100% - 24px) / 3);
      }
      @include mobile {
        width: 100%;
        padding: 40px 15px 25px;
        border-radius: 8px;
      }

      &:hover {
        transform: translateY(-10px);
        @include mobile {
          transform: translateY(-5px);
        }
      }

      &.type-point {
        background: #fd6f00;

        .point-txt {
          color: #fff;
        }

        .card-title {
          color: #fff;
        }

        .card-txt {
          color: rgb(236, 236, 236);
        }
      }

      .point-txt {
        color: #fd6f00;
        font-size: rem(12);
      }

      .card-title {
        font-size: rem(18);
        margin: 10px 0 12px;
      }

      .card-txt {
        font-size: rem(15);
        color: #4b4b4b;
        line-height: 1.3;
        @include tablet {
          font-size: rem(14);
        }
      }
    }
  }
}

.work-sec {
  background: #000;

  .work-inner-grp {
    padding: 75px 20px 100px;
    border-radius: 0 0 50px 50px;
    background: #fff;

    @include tablet {
      padding: 35px 20px 50px;
      border-radius: 0 0 40px 40px;
    }
    @include mobile {
      padding: 25px 20px 35px;
      border-radius: 0 0 30px 30px;
    }
  }

  .work-list-grp {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    margin: 30px auto 0;
    @include media(1200px) {
      gap: 20px;
    }
    @include mobile {
      gap: 15px;
    }

    .work-card {
      width: calc((100% - 50px) / 3);
      background: #111;
      background: #f8f8f8;
      border-radius: 16px;
      overflow: hidden;
      transition: all 0.3s ease;

      @include media(1200px) {
        width: calc((100% - 20px) / 2);
      }
      @include mobile {
        width: 100%;
      }

      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.01);
      }

      .work-thumb {
        height: 200px;
        background: #222;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      .work-content {
        padding: 24px 24px 60px;
      }

      .work-title {
        font-size: rem(20);
        margin-bottom: 8px;
        font-weight: 600;
      }

      .work-stack {
        font-size: rem(14);
        margin-bottom: 16px;
      }

      .work-desc {
        margin-bottom: 16px;
        li {
          font-size: rem(14);
          line-height: 1.6;

          .point-txt {
            color: #fd6f00;
            font-weight: 700;
          }
        }
      }

      .work-links {
        position: absolute;
        top: auto;
        bottom: 24px;
        left: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px 10px;
      }

      .btn-link {
        display: inline-flex;
        align-items: center;
        height: 36px;
        padding: 0 15px 1px;
        background: #fd6f00;
        font-size: rem(14);
        color: #fff;
        text-decoration: none;
        white-space: nowrap;
        transition: all 0.3s;

        &:hover {
          background: #222;
        }
      }
    }
  }
}

.skills-sec {
  padding: 100px 0;
  background: #000;
  @include tablet {
    padding: 70px 0;
  }
  @include mobile {
    padding: 50px 0;
  }

  .skills-list-grp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
    @include tablet {
      gap: 17px;
    }
    @include mobile {
      gap: 12px;
      padding-top: 10px;
    }
  }

  .skills-list {
    padding: 50px 40px 40px;
    border-radius: 32px;
    background: #1e1e1e;

    @include tablet {
      padding: 35px 25px 25px;
      border-radius: 22px;
    }
    @include media(640px) {
      padding: 25px 15px 20px;
      border-radius: 14px;
    }
    @include media(500px) {
      width: 100%;
    }

    .skill-title {
      margin-bottom: 10px;
      font-size: rem(22);
      @include tablet {
        margin-bottom: 8px;
        font-size: rem(18);
      }
    }

    .skill-txt {
      font-size: rem(16);
      color: #aaaaaa;
      @include tablet {
        font-size: rem(14);
      }
    }
  }

  .skill-icon-grp {
    gap: 30px;
    margin-bottom: 28px;
    flex-wrap: wrap;
    @include tablet {
      gap: 20px;
    }
    @include media(640px) {
      gap: 10px;
      margin-bottom: 18px;
    }
    @include mobile {
      gap: 7px;
    }

    .skill {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background: #141414;
      transition: all 0.2s;
      cursor: default;
      @include tablet {
        width: 60px;
        height: 60px;
      }
      @include mobile {
        width: 45px;
        height: 45px;
      }
      &:hover {
        transform: translateY(-4px);
      }

      .skill-img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        @include tablet {
          width: 35px;
          height: 35px;
        }
        @include mobile {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.contact-sec {
  padding: 80px 0 75px;
  @include tablet {
    padding: 45px 0 70px;
  }
  @include mobile {
    padding-bottom: 60px;
  }

  .contact-top-grp {
    .contact-top-inner-grp {
      align-items: center;
      gap: 65px;
      @include tablet {
        gap: 20px 55px;
      }
      @include mobile {
        gap: 15px 27px;
      }
      @include media(500px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .left {
      flex-shrink: 0;
      padding-left: 15px;
      @include mobile {
        padding-left: 10px;
      }

      .contact-img-grp {
        width: 138px;
        height: 184px;
        object-fit: contain;
        border: 1px solid #ececec;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.1);
        @include mobile {
          width: 98px;
          height: 131px;
        }

        .img {
          z-index: 2;
          position: relative;
        }

        &::before {
          content: '';
          position: absolute;
          top: auto;
          right: -15px;
          bottom: -13px;
          left: auto;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(9px);
          background-color: rgba(#fd6f00, 0.8);
          @include tablet {
            right: -13px;
            bottom: -11px;
          }
          @include mobile {
            display: none;
          }
        }
      }
    }

    .right {
      @include media(500px) {
        padding-left: 10px;
      }
    }
  }

  .resume-grp {
    position: relative;
    width: 100%;
    padding: 50px 0;
    @include media(1030px) {
      padding: 30px 0 40px;
    }

    @include tablet {
      padding: 25px 0 20px;
    }
    @include mobile {
      padding: 25px 0 15px;
    }

    .line {
      width: 100%;
      height: 1px;
      background: #000;
    }
  }

  .resume-btn-grp {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin: 30px 20px 0;
    @include media(1030px) {
      position: static;
      gap: 10px;
      margin: 30px 15px 0;
    }
    @include tablet {
      margin: 30px 5px 0 7px;
    }
    @include mobile {
      margin-top: 25px;
      justify-content: flex-start;
    }

    .btn {
      display: inline-flex;
      align-items: center;
      font-weight: 600;
      font-size: rem(18);
      padding: 16px 30px;
      border-radius: 50px;
      border: 2px solid transparent;
      transition: all 0.3s ease;

      cursor: pointer;
      @include media(1030px) {
        font-size: rem(16);
        padding: 14px 20px;
      }
      @include mobile {
        padding: 10px 15px;
        font-size: rem(14);
      }
    }

    .btn-resume {
      background: #fd6f00;
      color: #fff;
    }

    .btn-career {
      background: #222;
      color: #fff;
    }
  }

  .contact-list-grp {
    gap: 180px;
    @include media(1200px) {
      gap: 100px;
    }
    @include mobile {
      flex-wrap: wrap;
      gap: 20px 30px;
    }

    .contact-list {
      .label {
        margin-bottom: 3px;
        font-size: rem(16);
        font-weight: 400;
        color: #7e7e7e;
        @include tablet {
          font-size: rem(14);
        }
      }

      .contact {
        font-size: rem(24);
        font-weight: 500;
        @include tablet {
          font-size: rem(20);
          font-weight: 400;
        }
        @include mobile {
          font-size: rem(18);
          line-height: 22px;
        }
      }
    }
  }
}

.resume-sec {
  .resume-download-grp {
    display: block;
    background: #3a3a3a;
    padding: 48px 0 45px;
    transition: all 0.3s;
    &:hover {
      background-color: #000;
    }
  }

  .resume-sub-txt {
    margin-bottom: 5px;
    font-size: rem(16);
  }
  .resume-title {
    font-size: rem(30);
  }

  .btn-resume-arrow {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    left: auto;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #fff;
    transition: all 0.3s;
  }
}
