html {
  &.is-show {
    overflow: hidden;
  }
}
.modal-wrapper {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;

  &.is-show {
    opacity: 1;
    pointer-events: visible;

    .bg-cover {
      opacity: 1;
      pointer-events: visible;
    }

    .modal {
      opacity: 1;
      pointer-events: visible;
    }

    .dialog-modal {
      opacity: 1;
      pointer-events: visible;
    }

    .terms-modal-content {
      opacity: 1;
      pointer-events: visible;
    }
  }
}

.bg-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.modal {
  z-index: 300;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  pointer-events: none;
  background-color: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 6%);
  overscroll-behavior: none;
}

//crm-modal
.crm-modal {
  //overflow: hidden;
  width: calc(100% - 30px);
  max-width: 1140px;
  height: 80vh;
  background-color: #fff;
  border-radius: 20px;

  @include tablet {
    height: 70vh;
    border-radius: 13px;
  }

  .modal-inner-wrap {
    position: relative;
    height: 100%;
    padding: 48px 6px 30px 44.5px;

    @include tablet {
      border-radius: 16px;
      padding: 29px 8px 20px 20px;
    }
  }

  .modal-close-btn {
    z-index: 320;
    position: absolute;
    top: 16px;
    right: 18px;
    left: auto;
    width: 24px;
    height: 24px;

    @include tablet {
      top: -23px;
      right: 7px;
      gap: 4px;
      width: auto;
      height: auto;
    }

    .close-tt {
      font-size: rem(14);
    }

    .icon-modal-close2 {
      @include tablet {
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 18 18'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_26766' data-name='사각형 26766' width='18' height='18' transform='translate(1495.678 220.448)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='마스크_그룹_27258' data-name='마스크 그룹 27258' transform='translate(-1495.678 -220.448)' clip-path='url(%23clip-path)'%3E%3Cg id='그룹_55549' data-name='그룹 55549' transform='translate(1504.678 216.7) rotate(45)'%3E%3Cline id='선_5341' data-name='선 5341' y2='18.029' transform='translate(9.015)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3Cline id='선_5342' data-name='선 5342' y2='18.029' transform='translate(18.029 9.015) rotate(90)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
  }

  .crm-modal-scroll {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 0 36px 0 0;

    @include tablet {
      padding-right: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #efefef;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 6px;
      @include tablet {
        width: 5px;
      }
    }

    &::-webkit-scrollbar-thumb {
      height: 20%;
      background: #fd6f00;
      border-radius: 10px;
      cursor: pointer;
    }

    .crm-modal-ttl {
      font-size: rem(31);

      @include tablet {
        font-size: rem(18);
      }
    }

    .crm-modal-sub-ttl {
      margin-top: 14px;
      margin-bottom: 29px;
      font-size: rem(16);
      color: #5e5e5e;
      //color: #fd6f00;

      @include tablet {
        margin-top: 7px;
        margin-bottom: 17px;
        font-size: rem(14);
      }
    }

    .m-crm-list-wrap {
      width: 100%;
      flex-wrap: wrap;
      gap: 55px;
      padding-bottom: 30px;

      @include tablet {
        gap: 24px;
        padding-bottom: 15px;
      }

      .prd-img-grp {
        width: 100%;
        height: auto;
      }

      .m-crm-name {
        padding-top: 17px;
        padding-left: 15px;
        font-size: rem(22);
        @include tablet {
          padding-top: 10px;
          padding-left: 5px;
          font-size: rem(18);
        }
      }
    }
  }
}
