@charset "UTF-8";
/* =================== base =================== */
html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
hr,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "pretendard", sans-serif;
  word-break: break-all;
  letter-spacing: -0.04em;
}

html,
body,
a,
address,
article,
aside,
b,
button,
dd,
div,
dl,
dt,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
menu,
menuitem,
nav,
ol,
optgroup,
option,
output,
p,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tspan,
u,
ul {
  stroke-width: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-size: 16px;
}
html::-webkit-scrollbar {
  width: 6px;
}
html::-webkit-scrollbar-thumb {
  height: 20%;
  background: #fd6f00;
  border-radius: 10px;
  cursor: pointer;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =================== font =================== */
@font-face {
  font-family: "pretendard";
  font-weight: 900;
  src: url("~@/assets/fonts/pretendard/Pretendard-Black.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-Black.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-Black.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-Black.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 800;
  src: url("~@/assets/fonts/pretendard/Pretendard-ExtraBold.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-ExtraBold.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-ExtraBold.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url("~@/assets/fonts/pretendard/Pretendard-Bold.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-Bold.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-Bold.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 600;
  src: url("~@/assets/fonts/pretendard/Pretendard-SemiBold.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-SemiBold.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-SemiBold.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 500;
  src: url("~@/assets/fonts/pretendard/Pretendard-Medium.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-Medium.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-Medium.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url("~@/assets/fonts/pretendard/Pretendard-Regular.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-Regular.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-Regular.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 300;
  src: url("~@/assets/fonts/pretendard/Pretendard-Light.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-Light.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-Light.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 200;
  src: url("~@/assets/fonts/pretendard/Pretendard-ExtraLight.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-ExtraLight.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-ExtraLight.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "pretendard";
  font-weight: 100;
  src: url("~@/assets/fonts/pretendard/Pretendard-Thin.subset.woff2") format("woff2"), url("~@/assets/fonts/pretendard/Pretendard-Thin.subset.woff") format("woff"), url("~@/assets/fonts/pretendard/Pretendard-Thin.ttf") format("truetype"), url("~@/assets/fonts/pretendard/Pretendard-Thin.otf") format("opentype");
}
/* ---------- poppins ---------- */
@font-face {
  font-family: "poppins";
  font-weight: 900;
  src: url("~@/assets/fonts/poppins/Poppins-Black.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-Black.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-Black.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-Black.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: url("~@/assets/fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-ExtraBold.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("~@/assets/fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-Bold.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-Bold.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("~@/assets/fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: url("~@/assets/fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-Medium.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-Medium.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-Medium.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("~@/assets/fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-Regular.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-Regular.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: url("~@/assets/fonts/poppins/Poppins-Light.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-Light.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-Light.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-Light.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 200;
  src: url("~@/assets/fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-ExtraLight.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "poppins";
  font-weight: 100;
  src: url("~@/assets/fonts/poppins/Poppins-Thin.woff2") format("woff2"), url("~@/assets/fonts/poppins/Poppins-Thin.woff") format("woff"), url("~@/assets/fonts/poppins/Poppins-Thin.ttf") format("truetype"), url("~@/assets/fonts/poppins/Poppins-Thin.otf") format("opentype");
}
/* =================== helper =================== */
.none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

.ls-0 {
  letter-spacing: 0;
}

@media all and (max-width: 600px) {
  .mb-hide {
    display: none !important;
  }
}

.mb-show {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-flex {
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none !important;
  }
}

.tab-show {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-flex {
    display: flex !important;
  }
}

.tab-show-ib {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 360px) {
  .sm-hide {
    display: none !important;
  }
}

.sm-show {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show {
    display: block !important;
  }
}

.sm-show-flex {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-flex {
    display: flex !important;
  }
}

.sm-show-ib {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 320px) {
  .xsm-hide {
    display: none !important;
  }
}

.xsm-show {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show {
    display: block !important;
  }
}

.xsm-show-flex {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-flex {
    display: flex !important;
  }
}

.xsm-show-ib {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-ib {
    display: inline-block !important;
  }
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.scroll-custom {
  overflow-y: auto;
}
.scroll-custom::-webkit-scrollbar {
  width: 5px;
}
.btn {
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn.btn-full {
  width: 100%;
}

.btn-detail {
  justify-content: flex-start;
  width: 183px;
  height: 58px;
  margin-top: 33px;
  padding: 0 12px;
  border-radius: 44px;
  -webkit-backdrop-filter: blur(20px) brightness(1.2);
          backdrop-filter: blur(20px) brightness(1.2);
  transition: all 0.3s e;
}
@media all and (max-width: 900px) {
  .btn-detail {
    gap: 11px;
    width: 148px;
    height: 46px;
    padding: 0 9px;
    margin-top: 26px;
  }
}
.btn-detail:hover {
  background-color: #000178;
}
.btn-detail:hover .txt {
  color: #fff;
}
.btn-detail:hover .icon-plus-circle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36' height='34' viewBox='0 0 36 34'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='36' height='34' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='반복_그리드_1' data-name='반복 그리드 1' clip-path='url(%23clip-path)'%3E%3Cg id='그룹_60995' data-name='그룹 60995' transform='translate(-252 -640)'%3E%3Cellipse id='타원_901' data-name='타원 901' cx='18' cy='17' rx='18' ry='17' transform='translate(252 640)' fill='%23fff'/%3E%3Cg id='그룹_60530' data-name='그룹 60530' transform='translate(265 652)'%3E%3Cline id='선_5650' data-name='선 5650' x2='10' transform='translate(0 5)' fill='none' stroke='%23000178' stroke-width='2'/%3E%3Cline id='선_5651' data-name='선 5651' y1='10' transform='translate(5)' fill='none' stroke='%23000178' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.btn-detail .txt {
  font-size: 1rem;
  color: #333;
}
@media all and (max-width: 900px) {
  .btn-detail .txt {
    font-size: 0.875rem;
  }
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.icon-arrow-right {
  width: 16px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.811' height='12.121' viewBox='0 0 15.811 12.121'%3E%3Cg id='그룹_28572' data-name='그룹 28572' transform='translate(0.75 1.061)'%3E%3Cline id='선_1' data-name='선 1' x2='14' transform='translate(0 5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cg id='그룹_28566' data-name='그룹 28566' transform='translate(9)'%3E%3Cline id='선_2' data-name='선 2' x2='5' y2='5' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='선_3' data-name='선 3' y1='5' x2='5' transform='translate(0 5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-arrow-diagonal {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.25 29.75L29.75 12.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.25 12.25H29.75V29.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.icon-arrow-right-big {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33333 22.9167C7.18274 22.9167 6.25 23.8494 6.25 25C6.25 26.1506 7.18274 27.0833 8.33333 27.0833L37.6787 27.0833L27.6935 37.0685C26.8799 37.8821 26.8799 39.2012 27.6935 40.0148C28.5071 40.8284 29.8262 40.8284 30.6398 40.0148L42.7083 27.9463C44.3355 26.3191 44.3355 23.6809 42.7083 22.0537L30.6398 9.9852C29.8262 9.1716 28.5071 9.1716 27.6935 9.9852C26.8799 10.7988 26.8799 12.1179 27.6935 12.9315L37.6787 22.9167L8.33333 22.9167Z' fill='%230D0D0D'/%3E%3C/svg%3E%0A");
}

.icon-modal-close2 {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_26766' data-name='사각형 26766' width='24' height='24' transform='translate(1495.574 219.66)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='마스크_그룹_27258' data-name='마스크 그룹 27258' transform='translate(-1495.574 -219.66)' clip-path='url(%23clip-path)'%3E%3Cg id='그룹_55549' data-name='그룹 55549' transform='translate(1507.207 214.773) rotate(45)'%3E%3Cline id='선_5341' data-name='선 5341' y2='23.398' transform='translate(11.699)' fill='none' stroke='%23afafaf' stroke-width='2'/%3E%3Cline id='선_5342' data-name='선 5342' y2='23.398' transform='translate(23.398 11.699) rotate(90)' fill='none' stroke='%23afafaf' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.section-01 {
  width: 100%;
  height: 100vh;
  background: url("~@/assets/images/bg/pc-bg.png") no-repeat;
}
@media all and (max-width: 900px) {
  .section-01 {
    background: url("~@/assets/images/bg/tab-bg.png") no-repeat;
  }
}
@media all and (max-width: 600px) {
  .section-01 {
    background: url("~@/assets/images/bg/mo-bg.png") no-repeat;
  }
}

.top-title {
  margin-bottom: 10px;
  font-size: 3.4375rem;
}
@media all and (max-width: 900px) {
  .top-title {
    margin-bottom: 7px;
    font-size: 2.5rem;
  }
}

.sub-txt {
  font-size: 0.9375rem;
  line-height: 1.4;
}

.aos-animate .highlight::before {
  width: 100%;
}

.highlight {
  position: relative;
}
.highlight::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 0;
  display: block;
  width: 0;
  height: 50%;
  background: rgba(253, 111, 0, 0.7);
  transition: all 2s;
  transition-delay: 0.5s;
}
.highlight.type-2::before {
  background: rgba(253, 111, 0, 0.4);
}

.intro-sec {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: #000;
  padding: 29vh 48px 40px;
}
@media all and (max-width: 1200px) {
  .intro-sec {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (max-width: 900px) {
  .intro-sec {
    padding-top: 30vh;
  }
}
.intro-sec .intro-bg {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.intro-sec .intro-txt-grp {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1472px;
  margin: 0 auto;
}
.intro-sec .intro-title {
  position: relative;
  z-index: 2;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
}
@media all and (max-width: 1300px) {
  .intro-sec .intro-title {
    font-size: 3.25rem;
  }
}
@media all and (max-width: 900px) {
  .intro-sec .intro-title {
    font-size: 2.625rem;
  }
}
@media all and (max-width: 600px) {
  .intro-sec .intro-title {
    font-size: 2rem;
  }
}
.intro-sec .intro-title .highlight {
  font-weight: 600;
}
.intro-sec .intro-sub-txt-grp {
  flex-direction: column;
  gap: 3px;
  margin-top: 42px;
}
@media all and (max-width: 600px) {
  .intro-sec .intro-sub-txt-grp {
    gap: 1px;
    margin-top: 30px;
  }
}
.intro-sec .intro-sub-txt-grp .intro-sub-txt {
  font-size: 1.875rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
@media all and (max-width: 900px) {
  .intro-sec .intro-sub-txt-grp .intro-sub-txt {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 600px) {
  .intro-sec .intro-sub-txt-grp .intro-sub-txt {
    font-size: 1.25rem;
  }
}
.intro-sec .intro-cont-grp {
  gap: 8px;
  margin-bottom: 22px;
}
@media all and (max-width: 1300px) {
  .intro-sec .intro-cont-grp {
    gap: 5px;
  }
}
@media all and (max-width: 600px) {
  .intro-sec .intro-cont-grp {
    margin-bottom: 24px;
  }
}
.intro-sec .intro-bubble-txt {
  display: flex;
  gap: 8px;
  height: 38px;
  line-height: 38px;
  padding: 0 18px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-size: 1rem;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
  cursor: pointer;
}
@media all and (max-width: 1300px) {
  .intro-sec .intro-bubble-txt {
    height: 34px;
    line-height: 34px;
    padding: 0 14px;
    font-size: 0.875rem;
  }
}
@media all and (max-width: 600px) {
  .intro-sec .intro-bubble-txt {
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    font-size: 0.75rem;
  }
}
@media all and (max-width: 600px) {
  .intro-sec .intro-bubble-txt.type-mb {
    margin-bottom: 6px;
  }
}
.intro-sec .intro-bubble-txt:hover {
  color: #000;
  background: #fff;
}

.about-sec {
  background: #000;
}
.about-sec .about-inner-grp {
  position: relative;
  padding: 70px 20px 80px;
  border-radius: 50px 50px 0 0;
  background: #fff;
}
@media all and (max-width: 900px) {
  .about-sec .about-inner-grp {
    padding: 55px 20px 40px;
    border-radius: 40px 40px 0 0;
  }
}
@media all and (max-width: 600px) {
  .about-sec .about-inner-grp {
    padding: 40px 20px 40px;
    border-radius: 30px 30px 0 0;
  }
}
.about-sec .about-inner-grp::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, rgba(234, 234, 234, 0.7) 15%, #eaeaea 50%, rgba(234, 234, 234, 0.7) 85%, rgba(234, 234, 234, 0) 100%);
}
.about-sec .emoticon-img-grp {
  overflow: hidden;
  position: relative;
  width: 135px;
  height: 135px;
  margin: 0 auto 30px;
  border-radius: 100%;
  background: linear-gradient(135deg, #fd6f00 0%, #ff9a3c 50%, #ffd166 100%);
}
@media all and (max-width: 900px) {
  .about-sec .emoticon-img-grp {
    width: 108px;
    height: 108px;
    margin-bottom: 20px;
  }
}
.about-sec .emoticon-img-grp .emoticon-img {
  position: absolute;
  top: 3px;
  left: -7px;
  width: 152px;
  height: 152px;
}
@media all and (max-width: 900px) {
  .about-sec .emoticon-img-grp .emoticon-img {
    top: 4px;
    left: -5px;
    width: 120px;
    height: 120px;
  }
}
.about-sec .about-list-grp {
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 1100px;
  margin: 45px auto 0;
}
@media all and (max-width: 1200px) {
  .about-sec .about-list-grp {
    gap: 10px 12px;
  }
}
@media all and (max-width: 900px) {
  .about-sec .about-list-grp {
    margin-top: 35px;
  }
}
@media all and (max-width: 600px) {
  .about-sec .about-list-grp {
    flex-wrap: wrap;
  }
}
.about-sec .about-list-grp .emoticon-img-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.about-sec .about-list-grp .list-card {
  width: calc((100% - 48px) / 3);
  padding: 50px 20px 30px;
  border-radius: 10px;
  background: #f8f8f8;
  transition: all 0.3s;
}
@media all and (max-width: 1200px) {
  .about-sec .about-list-grp .list-card {
    width: calc((100% - 24px) / 3);
  }
}
@media all and (max-width: 600px) {
  .about-sec .about-list-grp .list-card {
    width: 100%;
    padding: 40px 15px 25px;
    border-radius: 8px;
  }
}
.about-sec .about-list-grp .list-card:hover {
  transform: translateY(-10px);
}
@media all and (max-width: 600px) {
  .about-sec .about-list-grp .list-card:hover {
    transform: translateY(-5px);
  }
}
.about-sec .about-list-grp .list-card.type-point {
  background: #fd6f00;
}
.about-sec .about-list-grp .list-card.type-point .point-txt {
  color: #fff;
}
.about-sec .about-list-grp .list-card.type-point .card-title {
  color: #fff;
}
.about-sec .about-list-grp .list-card.type-point .card-txt {
  color: rgb(236, 236, 236);
}
.about-sec .about-list-grp .list-card .point-txt {
  color: #fd6f00;
  font-size: 0.75rem;
}
.about-sec .about-list-grp .list-card .card-title {
  font-size: 1.125rem;
  margin: 10px 0 12px;
}
.about-sec .about-list-grp .list-card .card-txt {
  font-size: 0.9375rem;
  color: #4b4b4b;
  line-height: 1.3;
}
@media all and (max-width: 900px) {
  .about-sec .about-list-grp .list-card .card-txt {
    font-size: 0.875rem;
  }
}

.work-sec {
  background: #000;
}
.work-sec .work-inner-grp {
  padding: 75px 20px 100px;
  border-radius: 0 0 50px 50px;
  background: #fff;
}
@media all and (max-width: 900px) {
  .work-sec .work-inner-grp {
    padding: 35px 20px 50px;
    border-radius: 0 0 40px 40px;
  }
}
@media all and (max-width: 600px) {
  .work-sec .work-inner-grp {
    padding: 25px 20px 35px;
    border-radius: 0 0 30px 30px;
  }
}
.work-sec .work-list-grp {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;
  margin: 30px auto 0;
}
@media all and (max-width: 1200px) {
  .work-sec .work-list-grp {
    gap: 20px;
  }
}
@media all and (max-width: 600px) {
  .work-sec .work-list-grp {
    gap: 15px;
  }
}
.work-sec .work-list-grp .work-card {
  width: calc((100% - 50px) / 3);
  background: #111;
  background: #f8f8f8;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media all and (max-width: 1200px) {
  .work-sec .work-list-grp .work-card {
    width: calc((100% - 20px) / 2);
  }
}
@media all and (max-width: 600px) {
  .work-sec .work-list-grp .work-card {
    width: 100%;
  }
}
.work-sec .work-list-grp .work-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.01);
}
.work-sec .work-list-grp .work-card .work-thumb {
  height: 200px;
  background: #222;
}
.work-sec .work-list-grp .work-card .work-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.work-sec .work-list-grp .work-card .work-content {
  padding: 24px 24px 60px;
}
.work-sec .work-list-grp .work-card .work-title {
  font-size: 1.25rem;
  margin-bottom: 8px;
  font-weight: 600;
}
.work-sec .work-list-grp .work-card .work-stack {
  font-size: 0.875rem;
  margin-bottom: 16px;
}
.work-sec .work-list-grp .work-card .work-desc {
  margin-bottom: 16px;
}
.work-sec .work-list-grp .work-card .work-desc li {
  font-size: 0.875rem;
  line-height: 1.6;
}
.work-sec .work-list-grp .work-card .work-links {
  position: absolute;
  top: auto;
  bottom: 24px;
  left: 24px;
}
.work-sec .work-list-grp .work-card .btn-link {
  display: inline-flex;
  align-items: center;
  height: 36px;
  margin-right: 10px;
  padding: 0 15px 1px;
  background: #fd6f00;
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s;
}
.work-sec .work-list-grp .work-card .btn-link:hover {
  background: #222;
}

.skills-sec {
  padding: 100px 0;
  background: #000;
}
@media all and (max-width: 900px) {
  .skills-sec {
    padding: 70px 0;
  }
}
@media all and (max-width: 600px) {
  .skills-sec {
    padding: 50px 0;
  }
}
.skills-sec .skills-list-grp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 25px;
}
@media all and (max-width: 900px) {
  .skills-sec .skills-list-grp {
    gap: 17px;
  }
}
@media all and (max-width: 600px) {
  .skills-sec .skills-list-grp {
    gap: 12px;
    padding-top: 10px;
  }
}
.skills-sec .skills-list {
  padding: 50px 40px 40px;
  border-radius: 32px;
  background: #1e1e1e;
}
@media all and (max-width: 900px) {
  .skills-sec .skills-list {
    padding: 35px 25px 25px;
    border-radius: 22px;
  }
}
@media all and (max-width: 640px) {
  .skills-sec .skills-list {
    padding: 25px 15px 20px;
    border-radius: 14px;
  }
}
@media all and (max-width: 500px) {
  .skills-sec .skills-list {
    width: 100%;
  }
}
.skills-sec .skills-list .skill-title {
  margin-bottom: 10px;
  font-size: 1.375rem;
}
@media all and (max-width: 900px) {
  .skills-sec .skills-list .skill-title {
    margin-bottom: 8px;
    font-size: 1.125rem;
  }
}
.skills-sec .skills-list .skill-txt {
  font-size: 1rem;
  color: #aaaaaa;
}
@media all and (max-width: 900px) {
  .skills-sec .skills-list .skill-txt {
    font-size: 0.875rem;
  }
}
.skills-sec .skill-icon-grp {
  gap: 30px;
  margin-bottom: 28px;
  flex-wrap: wrap;
}
@media all and (max-width: 900px) {
  .skills-sec .skill-icon-grp {
    gap: 20px;
  }
}
@media all and (max-width: 640px) {
  .skills-sec .skill-icon-grp {
    gap: 10px;
    margin-bottom: 18px;
  }
}
@media all and (max-width: 600px) {
  .skills-sec .skill-icon-grp {
    gap: 7px;
  }
}
.skills-sec .skill-icon-grp .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #141414;
  transition: all 0.2s;
  cursor: default;
}
@media all and (max-width: 900px) {
  .skills-sec .skill-icon-grp .skill {
    width: 60px;
    height: 60px;
  }
}
@media all and (max-width: 600px) {
  .skills-sec .skill-icon-grp .skill {
    width: 45px;
    height: 45px;
  }
}
.skills-sec .skill-icon-grp .skill:hover {
  transform: translateY(-4px);
}
.skills-sec .skill-icon-grp .skill .skill-img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media all and (max-width: 900px) {
  .skills-sec .skill-icon-grp .skill .skill-img {
    width: 35px;
    height: 35px;
  }
}
@media all and (max-width: 600px) {
  .skills-sec .skill-icon-grp .skill .skill-img {
    width: 25px;
    height: 25px;
  }
}

.contact-sec {
  padding: 80px 0 75px;
}
@media all and (max-width: 900px) {
  .contact-sec {
    padding: 45px 0 40px;
  }
}
.contact-sec .contact-top-grp {
  align-items: center;
  gap: 65px;
}
@media all and (max-width: 900px) {
  .contact-sec .contact-top-grp {
    gap: 20px 55px;
  }
}
@media all and (max-width: 600px) {
  .contact-sec .contact-top-grp {
    gap: 15px 27px;
  }
}
@media all and (max-width: 500px) {
  .contact-sec .contact-top-grp {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact-sec .contact-top-grp .left {
  flex-shrink: 0;
  padding-left: 15px;
}
@media all and (max-width: 600px) {
  .contact-sec .contact-top-grp .left {
    padding-left: 10px;
  }
}
.contact-sec .contact-top-grp .left .contact-img-grp {
  width: 138px;
  height: 184px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #ececec;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 600px) {
  .contact-sec .contact-top-grp .left .contact-img-grp {
    width: 98px;
    height: 131px;
  }
}
.contact-sec .contact-top-grp .left .contact-img-grp .img {
  z-index: 2;
  position: relative;
}
.contact-sec .contact-top-grp .left .contact-img-grp::before {
  content: "";
  position: absolute;
  top: auto;
  right: -15px;
  bottom: -13px;
  left: auto;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  background-color: rgba(253, 111, 0, 0.8);
}
@media all and (max-width: 900px) {
  .contact-sec .contact-top-grp .left .contact-img-grp::before {
    right: -13px;
    bottom: -11px;
  }
}
@media all and (max-width: 600px) {
  .contact-sec .contact-top-grp .left .contact-img-grp::before {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .contact-sec .contact-top-grp .right {
    padding-left: 10px;
  }
}
.contact-sec .resume-grp {
  position: relative;
  width: 100%;
  margin: -30px 0 -30px;
  padding: 111px 0;
}
@media all and (max-width: 1200px) {
  .contact-sec .resume-grp {
    padding: 96px 0;
  }
}
@media all and (max-width: 900px) {
  .contact-sec .resume-grp {
    margin: 0;
    padding: 45px 0 20px;
  }
}
@media all and (max-width: 600px) {
  .contact-sec .resume-grp {
    padding: 30px 0 20px;
  }
}
.contact-sec .resume-grp .line {
  width: 100%;
  height: 1px;
  background: #000;
}
.contact-sec .resume-grp .btn-resume {
  position: absolute;
  top: -2px;
  right: 70px;
  left: auto;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background: #fd6f00;
  font-size: 1.5rem;
  letter-spacing: -0.3px;
  transition: all 0.3s;
}
@media all and (max-width: 1200px) {
  .contact-sec .resume-grp .btn-resume {
    right: 40px;
    width: 190px;
    height: 190px;
    font-size: 1.25rem;
  }
}
.contact-sec .resume-grp .btn-resume:hover {
  background: #222;
}
.contact-sec .contact-list-grp {
  gap: 180px;
}
@media all and (max-width: 1200px) {
  .contact-sec .contact-list-grp {
    gap: 100px;
  }
}
@media all and (max-width: 600px) {
  .contact-sec .contact-list-grp {
    flex-wrap: wrap;
    gap: 20px 30px;
  }
}
.contact-sec .contact-list-grp .contact-list .label {
  margin-bottom: 3px;
  font-size: 1rem;
  font-weight: 400;
  color: #7e7e7e;
}
@media all and (max-width: 900px) {
  .contact-sec .contact-list-grp .contact-list .label {
    font-size: 0.875rem;
  }
}
.contact-sec .contact-list-grp .contact-list .contact {
  font-size: 1.5rem;
  font-weight: 500;
}
@media all and (max-width: 900px) {
  .contact-sec .contact-list-grp .contact-list .contact {
    font-size: 1.25rem;
    font-weight: 400;
  }
}
@media all and (max-width: 600px) {
  .contact-sec .contact-list-grp .contact-list .contact {
    font-size: 1.125rem;
    line-height: 22px;
  }
}

.resume-sec .resume-download-grp {
  display: block;
  background: #3a3a3a;
  padding: 48px 0 45px;
  transition: all 0.3s;
}
.resume-sec .resume-download-grp:hover {
  background-color: #000;
}
.resume-sec .resume-sub-txt {
  margin-bottom: 5px;
  font-size: 1rem;
}
.resume-sec .resume-title {
  font-size: 1.875rem;
}
.resume-sec .btn-resume-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  left: auto;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #fff;
  transition: all 0.3s;
}

.is-none {
  display: none !important;
}

.page {
  min-height: 100vh;
}

.xl-center {
  width: 100%;
  max-width: 1680px;
  /* 1650px */
  margin: 0 auto;
  padding: 0 15px;
}

.l-center {
  width: 100%;
  max-width: 1472px;
  /* 1440px */
  margin: 0 auto;
  padding: 0 15px;
}

.m-center {
  width: 100%;
  max-width: 1270px;
  /* 1240px */
  margin: 0 auto;
  padding: 0 15px;
}

.is-none {
  display: none !important;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.i-block {
  display: inline-block;
}

.flex-s-0 {
  flex-shrink: 0;
}

.items-s {
  align-items: flex-start;
}

.items-c {
  align-items: center;
}

.items-e {
  align-items: flex-end;
}

.items-t {
  align-items: stretch;
}

.justify-s {
  justify-content: flex-start;
}

.justify-c {
  justify-content: center;
}

.justify-b {
  justify-content: space-between;
}

.justify-e {
  justify-content: flex-end !important;
}

.flex-d-c {
  flex-direction: column;
}

.flex-w {
  flex-wrap: wrap;
}

.grow-1 {
  flex-grow: 1;
}

.w-full {
  width: 100% !important;
}

.w-half {
  width: 50%;
}

.m-auto {
  margin: 0 auto;
}

.f-bk {
  color: #000;
}

.f-wh {
  color: #fff;
}

.f-e {
  font-weight: 800;
}

.f-b {
  font-weight: 700;
}

.f-s {
  font-weight: 600;
}

.f-m {
  font-weight: 500;
}

.f-r {
  font-weight: 400;
}

.f-l {
  font-weight: 300;
}

.f-x {
  font-weight: 200;
}

.f-center {
  text-align: center;
}

.f-end {
  text-align: end;
}

.f-pop {
  font-family: "Poppins", sans-serif !important;
}

.f-span {
  vertical-align: bottom;
}

.f-under {
  text-decoration: underline;
}

.f-pre {
  white-space: pre-line;
}

.f-ws-n {
  white-space: nowrap;
}

.p-cursor {
  cursor: pointer;
}

.img-con {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cov {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* =================== animation =================== */
.scroll-horizontal-img {
  animation-name: horizontal-scroll;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes horizontal-scroll {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  40% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0.3;
    transform: translateX(15%);
  }
}
.scroll-vertical-img {
  animation-name: vertical-scroll;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
@keyframes vertical-scroll {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  40% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0.3;
    transform: translateY(20%);
  }
}

@keyframes dongdong {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ani-dongdong {
  animation-name: dongdong;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hover-effect {
  overflow: hidden;
  position: relative;
}
.hover-effect:hover::before {
  left: calc(100% + 3px);
}
.hover-effect::before {
  display: block;
  content: "";
  z-index: 1;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: calc(0% - 157px);
  width: 40px;
  height: 150%;
  background-color: white;
  transform: skew(-30deg);
  transition: all 0.6s;
}

@keyframes dongdong {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.ani-dongdong {
  animation-name: dongdong;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.portfolio-header {
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(164, 164, 164, 0.12);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
}
@media all and (max-width: 900px) {
  .portfolio-header {
    height: 54px;
  }
}
.portfolio-header.is-active {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}
.portfolio-header.is-active .hd-title {
  color: #000;
}
.portfolio-header.is-active .gnb-list-grp:hover .gnb {
  color: rgba(0, 0, 0, 0.6);
}
.portfolio-header.is-active .gnb-list-grp .gnb {
  color: #000;
}
.portfolio-header.is-active .gnb-list-grp .gnb:hover {
  color: #fd6f00;
}
.portfolio-header.is-active .btn-hd-contact {
  background: rgba(0, 0, 0, 0.8);
}
.portfolio-header.is-active .hamburger .bar {
  background-color: #000;
}
.portfolio-header.is-show {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.portfolio-header.is-show .mo-hd-grp {
  opacity: 1 !important;
  pointer-events: all !important;
}
.portfolio-header.is-show .hd-title {
  color: #fff;
}
.portfolio-header.is-show .hamburger .bar {
  background-color: #fff;
}
.portfolio-header .hd-inner-grp {
  z-index: 20;
  gap: 20px;
  width: 100%;
  padding: 0 48px;
}
@media all and (max-width: 1200px) {
  .portfolio-header .hd-inner-grp {
    padding: 0 20px;
  }
}
.portfolio-header .hd-title {
  font-size: 1.3125rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
@media all and (max-width: 900px) {
  .portfolio-header .hd-title {
    font-size: 1.125rem;
  }
}
.portfolio-header .gnb-list-grp {
  align-items: center;
  gap: 40px;
}
@media all and (max-width: 1100px) {
  .portfolio-header .gnb-list-grp {
    gap: 30px;
  }
}
.portfolio-header .gnb-list-grp:hover .gnb {
  color: rgba(255, 255, 255, 0.55);
}
.portfolio-header .gnb-list-grp .gnb {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.1px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
.portfolio-header .gnb-list-grp .gnb:hover {
  color: #fff;
}
.portfolio-header .btn-hd-contact {
  gap: 8px;
  height: 38px;
  padding: 0 15px;
  border-radius: 32px;
  border: 1px solid rgba(229, 231, 235, 0.3);
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  font-size: 1rem;
  color: #fff;
  transition: all 0.3s;
}
.portfolio-header .btn-hd-contact .icon-arrow-right {
  transition: all 0.3s;
}
.portfolio-header .btn-hd-contact:hover {
  color: #000;
  background: #fff;
}
.portfolio-header .btn-hd-contact:hover .icon-arrow-right {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.811' height='12.121' viewBox='0 0 15.811 12.121'%3E%3Cg id='그룹_28572' data-name='그룹 28572' transform='translate(0.75 1.061)'%3E%3Cline id='선_1' data-name='선 1' x2='14' transform='translate(0 5)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3Cg id='그룹_28566' data-name='그룹 28566' transform='translate(9)'%3E%3Cline id='선_2' data-name='선 2' x2='5' y2='5' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='선_3' data-name='선 3' y1='5' x2='5' transform='translate(0 5)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  animation-name: horizontal-scroll;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
.portfolio-header .hamburger {
  position: relative;
  width: 20px;
  height: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
}
.portfolio-header .hamburger.is-active .bar-top {
  transform: translateY(7px) rotate(45deg);
}
.portfolio-header .hamburger.is-active .bar-mid {
  opacity: 0;
}
.portfolio-header .hamburger.is-active .bar-bot {
  transform: translateY(-7px) rotate(-45deg);
}
.portfolio-header .hamburger .bar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
  transform-origin: center;
}
.portfolio-header .mo-hd-grp {
  z-index: 18;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 40px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(48px);
          backdrop-filter: blur(48px);
  transition: all 0.3s;
}
.portfolio-header .mo-hd-grp.is-show {
  opacity: 1;
  pointer-events: all !important;
}
.portfolio-header .mo-hd-grp .mo-gnb-list-grp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 47px;
}
.portfolio-header .mo-hd-grp .mo-gnb-list-grp:hover .mo-gnb {
  color: rgba(255, 255, 255, 0.55);
}
.portfolio-header .mo-hd-grp .mo-gnb-list-grp .mo-gnb {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.portfolio-header .mo-hd-grp .mo-gnb-list-grp .mo-gnb:hover {
  color: #fff;
}
.portfolio-header .mo-hd-grp .btn-hd-contact {
  display: inline-flex;
  width: 130px;
  height: 45px;
  font-size: 1.125rem;
}

html.is-show {
  overflow: hidden;
}

.modal-wrapper {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}
.modal-wrapper.is-show {
  opacity: 1;
  pointer-events: visible;
}
.modal-wrapper.is-show .bg-cover {
  opacity: 1;
  pointer-events: visible;
}
.modal-wrapper.is-show .modal {
  opacity: 1;
  pointer-events: visible;
}
.modal-wrapper.is-show .dialog-modal {
  opacity: 1;
  pointer-events: visible;
}
.modal-wrapper.is-show .terms-modal-content {
  opacity: 1;
  pointer-events: visible;
}

.bg-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.modal {
  z-index: 300;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  pointer-events: none;
  background-color: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  overscroll-behavior: none;
}

.crm-modal {
  width: calc(100% - 30px);
  max-width: 1140px;
  height: 80vh;
  background-color: #fff;
  border-radius: 20px;
}
@media all and (max-width: 900px) {
  .crm-modal {
    height: 70vh;
    border-radius: 13px;
  }
}
.crm-modal .modal-inner-wrap {
  position: relative;
  height: 100%;
  padding: 48px 6px 30px 44.5px;
}
@media all and (max-width: 900px) {
  .crm-modal .modal-inner-wrap {
    border-radius: 16px;
    padding: 29px 8px 20px 20px;
  }
}
.crm-modal .modal-close-btn {
  z-index: 320;
  position: absolute;
  top: 16px;
  right: 18px;
  left: auto;
  width: 24px;
  height: 24px;
}
@media all and (max-width: 900px) {
  .crm-modal .modal-close-btn {
    top: -23px;
    right: 7px;
    gap: 4px;
    width: auto;
    height: auto;
  }
}
.crm-modal .modal-close-btn .close-tt {
  font-size: 0.875rem;
}
@media all and (max-width: 900px) {
  .crm-modal .modal-close-btn .icon-modal-close2 {
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 18 18'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_26766' data-name='사각형 26766' width='18' height='18' transform='translate(1495.678 220.448)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='마스크_그룹_27258' data-name='마스크 그룹 27258' transform='translate(-1495.678 -220.448)' clip-path='url(%23clip-path)'%3E%3Cg id='그룹_55549' data-name='그룹 55549' transform='translate(1504.678 216.7) rotate(45)'%3E%3Cline id='선_5341' data-name='선 5341' y2='18.029' transform='translate(9.015)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3Cline id='선_5342' data-name='선 5342' y2='18.029' transform='translate(18.029 9.015) rotate(90)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
.crm-modal .crm-modal-scroll {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 0 36px 0 0;
}
@media all and (max-width: 900px) {
  .crm-modal .crm-modal-scroll {
    padding-right: 10px;
  }
}
.crm-modal .crm-modal-scroll::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 10px;
}
.crm-modal .crm-modal-scroll::-webkit-scrollbar {
  width: 6px;
}
@media all and (max-width: 900px) {
  .crm-modal .crm-modal-scroll::-webkit-scrollbar {
    width: 5px;
  }
}
.crm-modal .crm-modal-scroll::-webkit-scrollbar-thumb {
  height: 20%;
  background: #fd6f00;
  border-radius: 10px;
  cursor: pointer;
}
.crm-modal .crm-modal-scroll .crm-modal-ttl {
  font-size: 1.9375rem;
}
@media all and (max-width: 900px) {
  .crm-modal .crm-modal-scroll .crm-modal-ttl {
    font-size: 1.125rem;
  }
}
.crm-modal .crm-modal-scroll .crm-modal-sub-ttl {
  margin-top: 14px;
  margin-bottom: 29px;
  font-size: 1rem;
  color: #5e5e5e;
}
@media all and (max-width: 900px) {
  .crm-modal .crm-modal-scroll .crm-modal-sub-ttl {
    margin-top: 7px;
    margin-bottom: 17px;
    font-size: 0.875rem;
  }
}
.crm-modal .crm-modal-scroll .m-crm-list-wrap {
  width: 100%;
  flex-wrap: wrap;
  gap: 55px;
  padding-bottom: 30px;
}
@media all and (max-width: 900px) {
  .crm-modal .crm-modal-scroll .m-crm-list-wrap {
    gap: 24px;
    padding-bottom: 15px;
  }
}
.crm-modal .crm-modal-scroll .m-crm-list-wrap .prd-img-grp {
  width: 100%;
  height: auto;
}
.crm-modal .crm-modal-scroll .m-crm-list-wrap .m-crm-name {
  padding-top: 17px;
  padding-left: 15px;
  font-size: 1.375rem;
}
@media all and (max-width: 900px) {
  .crm-modal .crm-modal-scroll .m-crm-list-wrap .m-crm-name {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1.125rem;
  }
}/*# sourceMappingURL=ui.css.map */