.icon {
  @include bg-op($s: contain, $p: center);

  display: inline-block;
  vertical-align: middle;
}

.icon-arrow-right {
  width: 16px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.811' height='12.121' viewBox='0 0 15.811 12.121'%3E%3Cg id='그룹_28572' data-name='그룹 28572' transform='translate(0.75 1.061)'%3E%3Cline id='선_1' data-name='선 1' x2='14' transform='translate(0 5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cg id='그룹_28566' data-name='그룹 28566' transform='translate(9)'%3E%3Cline id='선_2' data-name='선 2' x2='5' y2='5' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='선_3' data-name='선 3' y1='5' x2='5' transform='translate(0 5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-arrow-diagonal {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.25 29.75L29.75 12.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.25 12.25H29.75V29.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.icon-arrow-right-big {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33333 22.9167C7.18274 22.9167 6.25 23.8494 6.25 25C6.25 26.1506 7.18274 27.0833 8.33333 27.0833L37.6787 27.0833L27.6935 37.0685C26.8799 37.8821 26.8799 39.2012 27.6935 40.0148C28.5071 40.8284 29.8262 40.8284 30.6398 40.0148L42.7083 27.9463C44.3355 26.3191 44.3355 23.6809 42.7083 22.0537L30.6398 9.9852C29.8262 9.1716 28.5071 9.1716 27.6935 9.9852C26.8799 10.7988 26.8799 12.1179 27.6935 12.9315L37.6787 22.9167L8.33333 22.9167Z' fill='%230D0D0D'/%3E%3C/svg%3E%0A");
}

.icon-modal-close2 {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_26766' data-name='사각형 26766' width='24' height='24' transform='translate(1495.574 219.66)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='마스크_그룹_27258' data-name='마스크 그룹 27258' transform='translate(-1495.574 -219.66)' clip-path='url(%23clip-path)'%3E%3Cg id='그룹_55549' data-name='그룹 55549' transform='translate(1507.207 214.773) rotate(45)'%3E%3Cline id='선_5341' data-name='선 5341' y2='23.398' transform='translate(11.699)' fill='none' stroke='%23afafaf' stroke-width='2'/%3E%3Cline id='선_5342' data-name='선 5342' y2='23.398' transform='translate(23.398 11.699) rotate(90)' fill='none' stroke='%23afafaf' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
